<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ai.subscription">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application>

        <activity
            android:name="com.ai.subscription.ui.SubscriptionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SubScript.NoActionBar" />

    </application>

</manifest>
